@(implicit webJarAssets: WebJarAssets)

@main{

    <div ng-controller="ProgramController" ng-cloak>

        <div class="container-fluid">

            <div class="row">
                <h1 class="title">MODELS 2016 - Program</h1>
            </div>


            <div class="checkbox">
                <a class="btn btn-danger" href="http://models2016.irisa.fr/"><i class="fa fa-arrow-left"></i> Homepage</a>
                <label class="checkbox-inline"><input type="checkbox" ng-model="showFavorites" ng-change="toggleFavorites()"> Show only <span class="glyphicon glyphicon-star"></span></label>
                <button class="btn btn-default" ng-click="generateIcal()">Export <span class="glyphicon glyphicon-star"></span> to iCal</button>
                <a class="btn btn-default" href='@routes.ProgramController.getCompleteIcal()' download="models.ics">Export all to iCal</a>
            </div>


                <!-- Modal for more info on talk -->
            <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                    <!-- Star -->
                                <button class="btn btn-link btn-sm" ng-click="toggleFavoriteTalk(selectedTalk, selectedTalkDate)">
                                    <span ng-if="selectedTalk.selected" class="glyphicon glyphicon-star"></span>
                                    <span ng-if="!selectedTalk.selected" class="glyphicon glyphicon-star-empty"></span>
                                </button>

                                    <!-- Title -->
                                <strong ng-if="!hideType(selectedTalk.type)">{{selectedTalk.type}}:</strong>
                                <a ng-if="selectedTalk.url" ng-href="{{selectedTalk.url}}">{{selectedTalk.title}}</a>
                                <span ng-if="!selectedTalk.url">{{selectedTalk.title}}</span>

                                <!-- Full name -->
                                <span ng-if="selectedTalk.fullname">- {{selectedTalk.fullname}}</span>
                            </h4>
                        </div>
                        <div class="modal-body">

                                <!-- Kind -->
                            <div ng-if="selectedTalk.kind">
                                <strong>Type:</strong> {{selectedTalk.kind}}
                            </div>

                                <!-- Organizers -->
                            <div ng-if="selectedTalk.organizers.length > 0">
                                <strong>Organizers:</strong>
                                <span ng-repeat="organizer in selectedTalk.organizers">{{$index > 0 ? ", " : ""}}<a ng-if="organizer.email" ng-href="mailto:{{organizer.email}}">{{organizer.name}}</a><span ng-if="!organizer.email">{{organizer.name}}</span></span>
                            </div>

                                <!-- Authors -->
                            <div ng-if="selectedTalk.authors">
                                <strong>Authors:</strong>
                                <span ng-repeat="author in selectedTalk.authors">{{$index > 0 ? ", " : ""}}<a ng-if="author.email" ng-href="mailto:{{author.email}}">{{author.name}}</a><span ng-if="!author.email">{{author.name}}</span></span>
                            </div>

                                <!-- Participants -->
                            <div ng-if="selectedTalk.participants && selectedTalk.participants.length > 0">
                                <strong>Participants:</strong>
                                <span ng-repeat="participant in selectedTalk.participants">{{$index > 0 ? ", " : ""}}<a ng-if="participant.email" ng-href="mailto:{{participant.email}}">{{participant.name}}</a><span ng-if="!participant.email">{{participant.name}}</span></span>
                            </div>

                                <!-- Moderators -->
                            <div ng-if="selectedTalk.moderators">
                                <strong>Moderator:</strong>
                                <span ng-repeat="moderator in selectedTalk.moderators">{{$index > 0 ? ", " : ""}}<a ng-if="moderator.email" ng-href="mailto:{{moderator.email}}">{{moderator.name}}</a><span ng-if="!moderator.email">{{moderator.name}}</span></span>
                            </div>

                                <!-- Panelists -->
                            <div ng-if="selectedTalk.panelists">
                                <strong>Panelists:</strong>
                                <span ng-repeat="panelist in selectedTalk.panelists">{{$index > 0 ? ", " : ""}}<a ng-if="panelist.email" ng-href="mailto:{{panelist.email}}">{{panelist.name}}</a><span ng-if="!panelist.email">{{panelist.name}}</span></span>
                            </div>

                            <!-- Speaker -->
                            <div ng-if="selectedTalk.speaker">
                                <strong>Speaker:</strong> {{selectedTalk.speaker.name}}
                            </div>

                                <!-- Chair -->
                            <div ng-if="selectedTalk.chair">
                                <strong>Chair:</strong> {{selectedTalk.chair.name}}
                            </div>

                                <!-- Homepage -->
                            <div ng-if="selectedTalk.speaker.homepage">
                                <strong>Homepage:</strong> <a ng-href="{{selectedTalk.speaker.homepage}}">{{selectedTalk.speaker.homepage}}</a>
                            </div>

                                <!-- Website -->
                            <div ng-if="selectedTalk.url">
                                <strong>Website:</strong> <a ng-href="{{selectedTalk.url}}">{{selectedTalk.url}}</a>
                            </div>

                                <!-- Proceedings -->
                            <div ng-if="selectedTalk.proceedings">
                                <strong>Proceedings:</strong> <a ng-href="{{selectedTalk.proceedings}}">{{selectedTalk.proceedings}}</a>
                            </div>

                                <!-- Abstract -->
                            <div ng-if="selectedTalk.abstract" class="abstract">
                                <strong>Abstract:</strong> {{selectedTalk.abstract}}
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div ng-repeat="(dayIndex, day) in data" class="row">
                <h3 class="day">{{day.name}}</h3>

                <div>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th class="sessionColumn" width="80px">Sessions</th>
                                <th ng-repeat="room in day.rooms">{{room.name}}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="sessionGroup in day.sessionGroups" ng-init="sessionGroupIndex = $index">
                                <td ng-if="sessionGroup.length > 0" ng-repeat="session in sessionGroup" rowspan="{{session.rowSpan}}">
                                    <div class="session" ng-if="$first" style="height: {{20*session.rowSpan}}px;">
                                        {{getStartOfSessionGroup(sessionGroup)}}
                                        <div class="sessionEnd">
                                            {{(sessionGroupIndex + session.rowSpan === day.sessionGroups.length) && (dayIndex < data.length - 1) ? getEndOfSessionGroup(sessionGroup) : ""}}
                                        </div>
                                    </div>

                                    <table class="table table-condensed" ng-if="$index > 0 && session.events">
                                        <tr>
                                            <td ng-repeat="event in session.events" class="table-inner" ng-class="showColor(event)?event.type:''">

                                                    <!-- Event -->
                                                <div ng-if="event.title && !event.papers" ng-show="!showFavorites || (showFavorites && event.selected)"  >
                                                    <strong ng-if="talk.cancelled">(cancelled)</strong>

                                                    <a href="#" data-toggle="modal" data-target="#infoModal" ng-click="getInfo(event, session.icalStart)" ng-if="event.type !== 'Keynote' && showModalAndStar(event.type)">{{event.title}}</a>
                                                    <a href="#" data-toggle="modal" data-target="#infoModal" ng-click="getInfo(event, session.icalStart)" ng-if="event.type === 'Keynote'">Keynote: "{{event.title}}" ({{event.speaker.name}})</a>
                                                    <span ng-if="!showModalAndStar(event.type)">{{event.title}}</span>
                                                    <button class="start btn btn-link btn-xs" ng-click="toggleFavoriteTalk(event, session.icalStart)" ng-if="showModalAndStar(event.type)">
                                                        <span ng-if="event.selected" class="glyphicon glyphicon-star"></span>
                                                        <span ng-if="!event.selected" class="glyphicon glyphicon-star-empty"></span>
                                                    </button>

                                                </div>

                                                    <!-- Talk -->
                                                <div ng-if="event.title && event.papers">
                                                    <div>
                                                        <p><strong>{{event.title}}</strong> <span ng-if="event.chair">(chair: {{event.chair}})</span></p>
                                                    </div>
                                                    <div ng-repeat="talk in event.papers" ng-show="!showFavorites || (showFavorites && talk.selected)">
                                                        <hr>

                                                        <strong ng-if="talk.cancelled">(cancelled)</strong>

                                                        <a href="#" data-toggle="modal" data-target="#infoModal" ng-click="getInfo(talk, talk.icalStart)">{{talk.title}}</a>

                                                        <button class="start btn btn-link btn-xs" ng-click="toggleFavoriteTalk(talk, talk.icalStart)">
                                                            <span ng-if="talk.selected" class="glyphicon glyphicon-star"></span>
                                                            <span ng-if="!talk.selected" class="glyphicon glyphicon-star-empty"></span>
                                                        </button>

                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr ng-if="$last">
                                <td class="conferenceEndTime">12:40</td>
                                <td colspan="{{day.rooms.length}}" class="conferenceEnd"><strong>End of the conference</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 col-md-2">
                    <div class="row"><strong>Legend:</strong></div>
                    <div class="row legend Opening">Opening</div>
                    <div class="row legend Keynote">Keynote</div>
                    <div class="row legend TalkSession">Talk Session</div>

                    <div class="row legend Workshop">Workshop</div>
                    <div class="row legend Tutorial">Tutorial</div>
                    <div class="row legend Poster">Poster</div>
                    <div class="row legend DoctoralSymposium">Symposium</div>
                        <!--<div class="row legend DoctoralSymposium">Doctoral Symposium</div>-->
                        <!--<div class="row legend EducatorSymposium">Educator Symposium</div>-->
                    <div class="row legend SRC">Student Research Competition</div>



                    <div class="row legend Panel">Panel</div>
                    <div class="row legend Clinic">Clinic</div>
                    <div class="row legend Meeting">Community Event</div>

                        <!--<div class="row legend Reception">Reception</div>-->
                        <!--<div class="row legend Lunch">Lunch</div>-->
                        <!--<div class="row legend CoffeeBreak">Coffee Break</div>-->
                </div>
            </div>

            <footer class="row">
                <p>Proudly powered by MDE techniques, including
                    <a href="https://eclipse.org/modeling/emf/">EMF</a>,
                    <a href="https://eclipse.org/Xtext/">Xtext</a>,
                    <a href="http://www.eclipse.org/xtend/">Xtend</a>,
                    <a href="http://dslforge.org/">DSL Forge</a> and the
                    <a href="http://gemoc.org/studio/">GEMOC studio</a>.
                    Source code is available on <a href="https://github.com/diverse-project/models2016-program">Github</a>.
                </p>
            </footer>
        </div>

    </div>
}
