@(title: String)(header: Html)(content: Html)(footer: Html)(implicit webJarAssets: WebJarAssets)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@title</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.css"))" />

        @header
    </head>
    <body ng-app="models-app">

        @content

        <script src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>
        <script src='@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))'></script>
        <script src='@routes.WebJarAssets.at(webJarAssets.locate("angular.min.js"))'></script>

        @footer

    </body>
</html>
