@(content: Html)(implicit webJarAssets: WebJarAssets)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MODELS 2016 Program</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.css"))" />
        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("font-awesome.min.css"))" />
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/program.css")' />
    </head>
    <body ng-app="models-app">

        @content

        <script src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>
        <script src='@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))'></script>
        <script src='@routes.WebJarAssets.at(webJarAssets.locate("angular.min.js"))'></script>
        <script src="/data"></script>
        <script src='@routes.Assets.versioned("javascripts/program.js")'></script>

    </body>
</html>
