th {
    background-color: #588fb3;
    color: white;
}

.title {
    color: #588fb3;
}

.day {
    color: #588fb3;
}

body {
    color: #555555;
}

footer {
    text-align: right;
}

td {
    max-width: 150px;
    /*word-wrap: break-word;*/
    padding: 0px !important;
}


.eventType {
    height: 5px;
    width: 100%;
}

.table .table {
  background-color: transparent;
}

.table-inner {

}

.TalkSession {
    background-color: lightgrey;
}

.Panel {
    background-color: lightgrey;
}

.Workshop {
    background-color: yellow;
}

.Tutorial {
    background-color: orangered;
}

.DoctoralSymposium {
    background-color: deepskyblue;
}

.EducatorSymposium {
    background-color: lightgrey;
}

.Reception {
    background-color: lightgrey;
}

.Clinic {
    background-color: lightgrey;
}

.Lunch {
    background-color: lightgrey;
}

.CoffeeBreak {
    background-color: lightgrey;
}

