/* Text style */

body {
    color: #555555;
    font-size: small;
}

.title {
    color: #588fb3;
}

.day {
    color: #588fb3;
}




/* Table style */

.table tr {
    min-height: 20px;
    height: 1px;
}

.table th {
    background-color: #588fb3;
    color: white;
    text-align: center;
    vertical-align: middle !important;
}

.table td {
    min-width: 100px;
    max-width: 300px;
    word-wrap: break-word;
    padding: 2px !important;
    white-space: normal !important;
    height: inherit;
}



.table .table {
    background-color: transparent;
    height: 100%;
    margin-bottom: 0px;
}

.table .table td {
    border: none;
    padding: 2px;
    border-radius: 6px;
}

.table .table td:not(:last-child) {
    border-right: 1px solid #ddd;
}




/* Other styles */

.star {
    text-align: center;
}

.eventType {
    height: 5px;
    width: 100%;
}

footer {
    text-align: right;
}




/* Type of events */

.TalkSession {
    background-color: lightgrey;
}

.Panel {
    background-color: lightgrey;
}

.Workshop {
    background-color: yellow;
}

.Tutorial {
    background-color: orangered;
}

.DoctoralSymposium {
    background-color: deepskyblue;
}

.EducatorSymposium {
    background-color: lightgrey;
}

.Reception {
    background-color: lightgrey;
}

.Clinic {
    background-color: lightgrey;
}

.Lunch {
    /*background-color: lightgrey;*/
}

.CoffeeBreak {
    /*background-color: lightgrey;*/
}