<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MODELS 2016 Program</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/program.css" />
</head>
<body ng-app="models-app">

<div ng-controller="ProgramController" ng-cloak>

    <div class="container">

        <div class="row">
            <h1 class="title">MODELS 2016 - Program</h1>
        </div>

        <div class="checkbox">
            <label><input type="checkbox" ng-model="showFavorites" ng-change="toggleFavorites()"> Show only <span class="glyphicon glyphicon-star"></span></label>
            <button class="btn btn-default" ng-click="exportToCal(true)">Export <span class="glyphicon glyphicon-star"></span> to iCal</button>
            <button class="btn btn-default" ng-click="exportToCal(false)">Export all to iCal</button>
        </div>

        <!-- Modal for more info on talk -->
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">{{selectedTalk.title}}</h4>
                    </div>
                    <div class="modal-body">
                        {{selectedTalk.authors}}
                        {{selectedTalk.abstract}}
                        {{selectedTalk.type}}
                        {{selectedTalk.organizers}}
                    </div>
                </div>
            </div>
        </div>

        <div ng-repeat="day in data" class="row">
            <h3 class="day">{{day.name}}</h3>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Sessions</th>
                        <th ng-repeat="room in day.rooms">{{room.name}}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="sessionGroup in day.sessionGroups">

                        <td ng-if="sessionGroup.length > 0">
                            {{getStartOfSessionGroup(sessionGroup)}}
                        </td>

                        <td ng-if="sessionGroup.length > 0" ng-repeat="session in sessionGroup" rowspan="{{session.length}}">

                            <table class="table table-condensed">
                                <tr ng-repeat="event in session.events">
                                    <td ng-if="event.title && !event.papers" >
                                        <div ng-show="!showFavorites || (showFavorites && talk.selected)">

                                            <!-- Talk info -->

                                            <div class="eventType" ng-class="event.type"></div>

                                            <button class="btn btn-link btn-sm" ng-click="toggleFavoriteTalk(event, session.icalStart)">
                                                <span ng-if="event.selected" class="glyphicon glyphicon-star"></span>
                                                <span ng-if="!event.selected" class="glyphicon glyphicon-star-empty"></span>
                                            </button>

                                            <a href="#" data-toggle="modal" data-target="#infoModal" ng-click="getInfo(event)">{{event.title}}</a>

                                        </div>
                                    </td>

                                    <td ng-if="event.title && event.papers">
                                        <div ng-show="!showFavorites || (showFavorites && talk.selected)" ng-repeat="talk in event.papers">

                                            <!-- Talk info -->

                                            <button class="btn btn-link btn-sm" ng-click="toggleFavoriteTalk(talk, talk.icalStart)">
                                                <span ng-if="talk.selected" class="glyphicon glyphicon-star"></span>
                                                <span ng-if="!talk.selected" class="glyphicon glyphicon-star-empty"></span>
                                            </button>

                                            <a href="#" data-toggle="modal" data-target="#infoModal" ng-click="getInfo(talk)">{{talk.title}}</a>

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer class="row">
            <p>Proudly powered by MDE techniques, including Xtext, Xtend and the GEMOC studio.</p>
        </footer>
    </div>

</div>

<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/data.js"></script>
<script src="js/program.js"></script>

</body>
</html>