<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MODELS 2016 Program</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/program.css" />
</head>
<body ng-app="models-app">

<div ng-controller="ProgramController" ng-cloak>

    <div class="container">

        <div class="row">
            <h1 class="title">MODELS 2016 - Program</h1>
        </div>

        <div class="checkbox">
            <label><input type="checkbox" ng-model="showFavorites" ng-change="toggleFavorites()"> Show only <span class="glyphicon glyphicon-star"></span></label>
        </div>

        <div ng-repeat="day in data" class="row">
            <h3 class="day">{{day.name}}</h3>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Sessions</th>
                        <th ng-repeat="room in day.rooms">{{room.name}}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="sessionGroup in day.sessionGroups">

                        <td ng-if="sessionGroup.length > 0">
                            {{getStartOfSessionGroup(sessionGroup)}}
                        </td>

                        <td ng-if="sessionGroup.length > 0" ng-repeat="session in sessionGroup" rowspan="{{session.length}}">
                            <table>
                                <tr ng-repeat="talk in session.events">
                                    <td ng-if="talk.title">
                                        <div ng-show="!showFavorites || (showFavorites && talk.selected)">
                                            <button class="btn btn-link" ng-click="toggleFavoriteTalk(talk)">
                                                <span ng-if="talk.selected" class="glyphicon glyphicon-star"></span>
                                                <span ng-if="!talk.selected" class="glyphicon glyphicon-star-empty"></span>
                                            </button>
                                            {{talk.title}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <button class="btn btn-default" ng-click="exportToCal(true)">Export <span class="glyphicon glyphicon-star"></span> to iCal</button>
            <button class="btn btn-default" ng-click="exportToCal(false)">Export all to iCal</button>
        </div>

        <footer class="row">
            <p>Proudly powered by MDE techniques, including Xtext, Xtend and the GEMOC studio.</p>
        </footer>
    </div>

</div>

<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/data.js"></script>
<script src="js/program.js"></script>

</body>
</html>