<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.irisa.fr/models/program/Program" 
       class = "fr.irisa.models.program.program.ProgramPackage"
       genModel = "model/generated/Program.genmodel" /> 
	
  </extension>



</plugin>
