/* Text style */

body {
    color: #555555;
    font-size: small;
}

.title {
    color: #588fb3;
}

.day {
    color: #588fb3;
}




/* Table style */

.table-responsive {
    overflow-x: scroll;
}

.table {

}

.table tr {
    min-height: 30px;
    height: 1px;
}

.table th {
    background-color: #588fb3;
    color: white;
    text-align: center;
    vertical-align: middle !important;
}

.table td {
    min-width: 130px;
    max-width: 300px;
    word-wrap: break-word;
    padding: 2px !important;
    white-space: normal !important;
    height: inherit;
    border: none !important;
}



.table .table {
    background-color: transparent;
    height: 100%;
    margin-bottom: 0px;
}

.table .table td {
    border: none;
    padding: 2px;
    border-radius: 6px;
    min-width: 10px;
}

.table .table td:not(:last-child) {
    border-right: 1px solid #ddd;
}

.sessionColumn {

}

.session {
    position: relative;
}

.sessionEnd {
    position: absolute;
    bottom: 0;
}

.conferenceEnd {
    text-align: center;
    background-color: #588fb3;
    color: white;
    vertical-align: middle !important;
}


/* Other styles */

.star {
    text-align: center;
}

.eventType {
    height: 5px;
    width: 100%;
}

footer {
    text-align: right;
}

/* Modal style */
.abstract {
    text-align: justify;
}

hr {
    margin-top: 0;
    margin-bottom: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-width: 1px;
}

/* Type of events */

.legend {
    text-align: left !important;
    margin-top: 2px;
}

.TalkSession {
    background-color: rgba(68, 255, 28, 0.5);
}

.Panel {
    background-color: rgba(255, 249, 40, 0.5);
}

.Workshop {
    background-color: rgba(255, 167, 45, 0.5);
}

.Tutorial {
    background-color: rgba(255, 46, 51, 0.5);
}

.DoctoralSymposium {
    background-color: rgba(119, 61, 255, 0.5);
}

.EducatorSymposium {
    background-color: rgba(119, 61, 255, 0.5);
}

.Reception {
    background-color: rgba(200, 200, 200, 0.5);
    text-align: center;
}

.Lunch {
    background-color: rgba(200, 200, 200, 0.5);
    text-align: center;
}

.CoffeeBreak {
    background-color: rgba(200, 200, 200, 0.5);
    text-align: center;
}

.Clinic {
    background-color: rgba(54, 255, 225, 0.5);
}

.SRC {
    background-color: rgba(174, 255, 35, 0.5);
}

.Poster {
    background-color: rgba(34, 180, 31, 0.5);
}

.Keynote {
    background-color: rgba(87, 118, 255, 0.5);
}

.Meeting {
    background-color: rgba(150, 150, 150, 0.5);
}

.Opening {
    background-color: rgba(41, 150, 180, 0.5);
}