<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated models2016 -->
      <package
            uri="http://www.example.org/models2016"
            class="models2016.Models2016Package"
            genModel="model/models2016.genmodel"/>
   </extension>

</plugin>
